<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>已完成的訂單</h1>
  <table border="1">
    <tr>
      <th>時間</th>
      <th>店家</th>
      <th>品項</th>
      <th>數量</th>
      <th>送貨員</th>
      <th>訂單狀態</th>
      <th>應付</th>
      <th>操作</th>

    </tr>
    {%for o in order%}
    <form action="/order_comment" method="GET">
      <tr>
        <td>{{ o.time }}</td>
        <td>{{ o.s_name }}</td>
        <td>{{ o.m_name }}</td>
        <td>{{ o.quantity }}</td>
        <td>{{ o.d_name }}</td>
        <td>{{ o.status }}</td>
        <td>{{ o.total }}</td>
        <td><button type="submit">我要評論</button></td>
        <input type="hidden" name="oid" value="{{o.id}}">

      </tr>
      
    </form>
    
    {%endfor%}
  </table>
</body>
</html>