<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form action="/customer" method="get"></form>
  <h1 class="text-center">嗨！今天想點什麼呢？</h1>
  <table border="1">
    <tr>
      <th>店家</th>
      <th>說明</th>
      <th>地址</th>
      <th>操作</th>
    </tr>
    {% for s in data %}
    <tr>
      <td>{{ s.name }}</td>
      <td>{{ s.intro }}</td>
      <td>{{ s.location }}</td>
      <td>
        <a href="/store-menu?store_id={{s.id}}"><button>看菜單</button></a>
      </td>
    </tr>
    {%endfor%}
  </table>

</body>
</html>