<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include "models/bs_css.html" %}
    <link rel="stylesheet" href="/static/stylesheets/customer.css">
    <title>Document</title>
  </head>
  <body>
    {% include "models/navbar.html" %}
    <div class="container">
      <div class="row">
        <h1 class="text-center">This 點餐外送平台 for customer</h1>
      </div>
    </div>
    

    <!-- 顯示店家列表 -->
    <div class="row">
      <div class="col-6 m-auto">
        <div class="store-list row">
    
        </div>

      </div>
    </div>

    {% include "models/bs_js.html" %}
    <script src="/static/javascripts/customer.js"></script>
  </body>
</html>