<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>
  <body>

    <h1 class="text-center">點餐</h1>
  <table border="1">
    <tr>
      <th>品項名稱</th>
      <th>說明</th>
      <th>價格</th>
      <th>操作</th>
    </tr>
    {% for s in data %}
    <tr>
      <td>{{ s.name }}</td>
      <td>{{ s.intro }}</td>
      <td>{{ s.price }}</td>
      <td>
        <a href="/order?menu_id={{s.id}}"><button>點餐</button></a>
      </td>
    </tr>
    {%endfor%}
    <a href="/store-menu"><button>取消 / 回前頁</button></a>
    

  </body>
</html>