<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include "models/bs_css.html" %}
    <title>Document</title>
  </head>
  <body>
    <h1>我的訂單</h1>
    
    <form action="/delivery-order" method="post">
    <table border="1">
      <tr>
        <th>訂單編號</th>
        <th>店家</th>
        <th>訂單內容</th>
        <th>單價</th>
        <th>數量</th>
        <th>總價</th>
        <th>客戶姓名</th>
        <th>目的地</th>
        <th>狀態</th>
        <th>操作</th>
      </tr>
      {%for o in order%}
      <tr>
        <td>{{ o.id }}</td>
        <td>{{ o.store }}</td>
        <td>{{ o.order_name }}</td>
        <td>{{ o.price }}</td>
        <td>{{ o.quantity }}</td>
        <td>{{ o.total }}</td>
        <td>{{ o.name }}</td>
        <td>{{ o.destination }}</td>
        <td>{{ o.status }}</td>
        <td>
          <button type="submit">已送達</button>
        </td>
        <input type="hidden" name="order_id" value="{{o.id}}">
        {%endfor%}
      </tr>
    </table>
    </form>
    <a href="/delivery"><button>回上頁</button></a>

  </body>
</html>