<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include "models/bs_css.html" %}
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <h1 class="text-center">This 點餐外送平台 for delivery</h1>
      </div>

      <table border="1">
        <thead>
          <tr>
            <th>id</th>
            <th>Order</th>
            <th>Store</th>
            <th>Price</th>
            <th>Destination</th>
          </tr>
        </thead>
        <tbody>
          {%if data != []%}
          <tr>
            <td>{{ data[0].id }}</td>
            <td>{{ data[0].order }}</td>
            <td>{{ data[0].store }}</td>
            <td>{{ data[0].price }}</td>
            <td>{{ data[0].destination }}</td>
          </tr>
          {%endif%}
        </tbody>
      </table>
      <div>
        {%if data != []%}
        <div class="col-2 d-flex flex-column align-items-center">

          <form action="/order-list/{{ data[0].id }}">
            <button type="submit" name="change_status" value="2">接單</button>
          </form>

          <form action="/order-list/{{ data[0].id }}">
            <button type="submit" name="change_status" value="3">簽收</button>
          </form>
          
        </div>
        {%endif%}
      </div>
      <!-- 顯示可接訂單的列表
      <div class="row">
        <div class="col-6 m-auto">
          <div class="order-list row">
            
          </div>

        </div>
      </div>
    </div> -->

    {% include "models/bs_js.html" %}
    <!-- <script src="/static/javascripts/delivery.js"></script> -->
  </body>
</html>