<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>
  <body>
    <h1>你好，這裡是外送員首頁</h1>
    <a href="/delivery-order"><button>我的訂單</button></a>
    <form action="/delivery" method="post">
    <table border="1">
      <tr>
        <th>訂單編號</th>
        <th>店家</th>
        <th>訂單內容</th>
        <th>單價</th>
        <th>數量</th>
        <th>總價</th>
        <th>目的地</th>
        <th>狀態</th>
        <th>操作</th>
      </tr>
      {%for o in order%}
      <tr>
        <td>{{ o.id }}</td>
        <td>{{ o.store }}</td>
        <td>{{ o.order_name }}</td>
        <td>{{ o.price }}</td>
        <td>{{ o.quantity }}</td>
        <td>{{ o.total }}</td>
        <td>{{ o.destination }}</td>
        <td>{{ o.status }}</td>
        <td>
          <button type="submit">接單</button>
        </td>
        <input type="hidden" name="order_id" value="{{o.id}}">
        {%endfor%}
      </tr>
    </form>

    </table>
  </body>
</html>