<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include "models/bs_css.html" %}
    <title>點餐外送平台 - 平台統計</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <h1 class="text-center">This 點餐外送平台 for platform</h1>
            <main>
                <!-- 商家應收金額 -->
                <h2>商家</h2>
                <table border="1">
                    <thead>
                        <tr>
                            <th>商家名稱</th>
                            <th>應收金額</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for rec in data %}
                            {% if rec.role == 1 %}
                            <tr>
                                <td>{{ rec.username }}</td>
                                <td>{{ rec.summary }}</td>
                            </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>

                <!-- 小哥接單總金額 -->
                <h2>小哥單</h2>
                <table border="1">
                    <thead>
                        <tr>
                            <th>小哥名稱</th>
                            <th>接單總金額</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for rec in data %}
                            {% if rec.role == 3 %}
                            <tr>
                                <td>{{ rec.username }}</td>
                                <td>{{ rec.summary }}</td>
                            </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>

                <!-- 客戶應付金額 -->
                <h2>客戶應付</h2>
                <table border="1">
                    <thead>
                        <tr>
                            <th>客戶名稱</th>
                            <th>應付金額</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for rec in data %}
                            {% if rec.role == 2 %}
                            <tr>
                                <td>{{ rec.username }}</td>
                                <td>{{ rec.summary }}</td>
                            </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </main>
        </div>
    </div>
</body>
</html>
